# Backend CI/CD Pipeline for Azure
trigger:
  branches:
    include:
      - master
      - main
  paths:
    include:
      - backend/*
      - package.json
      - azure-pipelines-backend.yml

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureSubscription: 'Azure-BloodBank-Connection' # Update with your service connection name
  appName: 'bloodbank-backend' # Update with your app service name

stages:
- stage: Build
  displayName: 'Build Backend'
  jobs:
  - job: BuildJob
    displayName: 'Build and Package'
    steps:
    - task: NodeTool@0
      displayName: 'Install Node.js'
      inputs:
        versionSpec: '18.x'

    - script: |
        echo "Installing dependencies..."
        npm install
        echo "Build completed successfully!"
      displayName: 'npm install'
      workingDirectory: '$(System.DefaultWorkingDirectory)'

    - task: ArchiveFiles@2
      displayName: 'Archive application files'
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Build Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'backend-drop'
        publishLocation: 'Container'

- stage: Deploy
  displayName: 'Deploy to Azure'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployBackend
    displayName: 'Deploy Backend to App Service'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy to Azure App Service'
            inputs:
              azureSubscription: '$(azureSubscription)'
              appType: 'webAppLinux'
              appName: '$(appName)'
              package: '$(Pipeline.Workspace)/backend-drop/$(Build.BuildId).zip'
              runtimeStack: 'NODE|18-lts'
              startUpCommand: 'node backend/server.js'

